<div class="grid">
  <div class="col">
    <div
      class="flex justify-content-center flex-wrap card-container"
      style="min-height: 600px"
    >
      <div class="flex align-items-center justify-content-center">
        <div class="p-fluid">
          <h1>Login</h1>
          <form [formGroup]="loginForm" (submit)="logar()">
            <div class="p-field" style="width: 500px">
              <input class="margin-top-10" type="text" pInputText placeholder="Email" formControlName="email" />
              <input class="margin-top-10" type="password" pPassword placeholder="Senha" formControlName="password" />
              <button class="margin-top-10" pButton type="submit" label="Login"></button>
              <p>
                Não possui conta?
                <a [routerLink]="['/cadastro-usuario']">Cadastre-se</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
